.footer-top-section {
	background-image: url("assets/images/");
	background-repeat: repeat;
	padding: 72px 0;
}

.footer-top-section .container {
	position: relative;
}

.footer-top-bg {
	position: absolute;
	left: -30px;
	bottom: -85px;
	z-index: 2;
}

.footer-logo img {
	margin-bottom: 35px;
}

.footer-widget {
	padding: 40px 30px 7px;
	background: #252525;
	border: 1px solid #4a4a4a;
}

.footer-widget .fw-title {
	color: #ffffff;
	margin-bottom: 40px;
}

.latest-blog .lb-item {
	margin-bottom: 23px;
	overflow: hidden;
}

.latest-blog .lb-item .lb-thumb {
	width: 97px;
	height: 97px;
	float: left;
}

.latest-blog .lb-item .lb-content {
	padding-left: 110px;
}

.latest-blog .lb-item .lb-content .lb-date {
	font-size: 12px;
	color: #00c8ff;
	margin-bottom: 8px;
}

.latest-blog .lb-item .lb-content p {
	font-size: 12px;
	margin-bottom: 5px;
	color: #d3d3d3;
}

.latest-blog .lb-item .lb-content .lb-author {
	font-size: 12px;
	color: #d3d3d3;
	opacity: 0.45;
}

.top-comment {
	overflow: hidden;
}

.top-comment .tc-item {
	margin-bottom: 23px;
	overflow: hidden;
}

.top-comment .tc-item .tc-thumb {
	width: 63px;
	height: 63px;
	border-radius: 50%;
	float: left;
}

.top-comment .tc-item .tc-content {
	padding-left: 100px;
}

.top-comment .tc-item .tc-content p {
	font-size: 12px;
	color: #d3d3d3;
	margin-bottom: 5px;
}

.top-comment .tc-item .tc-content p {
	color: #00c8ff;
}

.top-comment .tc-item .tc-content .tc-date {
	font-size: 12px;
	color: #d3d3d3;
}
